h1{
    color:lightgrey;
    text-align:center;
    text-transform: uppercase;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://images.pexels.com/photos/236047/pexels-photo-236047.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar{

  font-family: 'Abel', sans-serif;
  font-size: 20px;
  background-image: url('/static/img/purple.jpg');
  background-repeat: repeat-x;

}





.modal-content {
  background-color: rgba(255,0,255,0.7);
  text-decoration-color: white;
}